<div class="container" ng-controller="FinDocViewCtrl">

	<div class="row" style="padding-top: 1em;">
		<div class="col-sm-8">
			<!-- <h4 class="well well-sm">Reliance Pumps</h4> -->
			Reliance Petroleum Limited (RPL) is an India-based company. The Company is setting up a 580,000 barrels of crude oil per stream (BPSD) Greenfield petroleum refinery and 0.9 million tons per annum polypropylene plant in a special economic zone (SEZ) at Jamnagar. RPL is a subsidiary of Reliance Industries Limited (RIL). The RPL refinery is located adjacent to the existing refinery and petrochemicals complex of RIL. In April 2009, Reliance Industries Limited bought back Chevron Corporation's 5% stake in Reliance Petroleum Limited.
		</div>		
		<div class="col-sm-4 well well-sm">				
				<span>
					<b>Reliance Petroleum Ltd</b><br>
					Maker Chambers IV
					3rd floor, 222, Nariman Point,
					MUMBAI 400021<br>
					P: +9122.22785214<br>
					F: +9122.22785111	
				</span>			
		</div>
	</div>
	


  <div style="padding-top: 1em;">
              <h4> Document list </h4>
              <table class="table table-striped">
                  <tr>
                    <th><a href="" ng-click="sortField = 'fileName'">Name</td>
                    <th><a href="" ng-click="sortField = 'timest'">Upload Time</th>
                    <th><a href="" ng-click="sortField = 'categ'">Category</th>
                  </tr>                
                  <tr ng-repeat="file in fileList | filter:search | orderBy:sortField">
                      <!-- <td><a href ng-click="openFile(file)">{{file.fileName}}</a></td> -->
                      <td><a ng-href='{{getUrl(file)}}'>{{file.fileName}}</a></td>
                      <td>{{file.timest}}</td>
                      <td>{{file.categ}}</td>
                  </tr>
              </table>
            <!-- <div align="center">
              <dir-pagination-controls/>
            </div> -->
  </div>


</div>