<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Float Invoice Setup</h4>
      </div>
      <div class="modal-body"> 
            <md-content layout-padding>              
                <!-- <span >
                   <h5 ng-style={color:'green'}>{{respMsg}}</h5>
                   <h5 ng-style={color:'red'}>{{errRespMsg}}</h5>
                </span> -->
                <form name="userForm" ng-submit="submitForm()" novalidate>
                  <div layout-gt-xs="row"> 
                        <md-input-container class="md-block" flex-gt-sm>
                         <label>Company Name</label>
                         <input type="text" name="orgName" ng-model="user.orgName" required>
                          <div ng-messages="userForm.orgName.$error" role="alert" multiple>
                             <div ng-message="required" class="my-message">Company name is required.</div>
                          </div>
                        </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm>
                         <label>Acronym</label>
                         <input type="text" name="acro"  ng-model="user.acro" ng-minlength="8" required ng-pattern="/^[A-Z]{8}$/" md-maxlength="8">
                         <div ng-messages="userForm.acro.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">Acronym is required.</div>
                            <div ng-message="pattern" class="my-message">Enter valid acronym. Only upper case letters allowed.</div>
                          </div>
                        </md-input-container>
                  </div>
                  <div class="modal-footer" style="margin-top: 3em;">
                    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || checkRespMsg()">Save</button> 
                    <button type="button" ng-click="cancel()" class="btn btn-primary">Close</button>
                  </div>          
                </form>   
                <span >
                   <h5 ng-style={color:'green'}>{{respMsg}}</h5>
                   <h5 ng-style={color:'red'}>{{errRespMsg}}</h5>
                </span>           
            </md-content>
      </div>
      
    </div> 
  </div>
</div>
