<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enquiry Details</h4>
      </div>
      <div class="modal-body">
      <table>
        <tr>
          <td>Enquiry Id: </td>
          <td>{{enquiry.enqId}}</td>          
        </tr>
        <tr>
          <td>Contact Name: </td>
          <td>{{enquiry.contactName}}</td>          
        </tr>        
        <tr>
          <td>Email: </td>
          <td>{{enquiry.email}}</td>          
        </tr>
        <tr>
          <td>Phone No: </td>
          <td>{{enquiry.phone}}</td>          
        </tr>
        <tr>
          <td>Years in business: </td>
          <td>{{enquiry.yrsInBusiness}}</td>          
        </tr>
        <tr>
          <td>Industry: </td>
          <td>{{enquiry.industryType}}</td>          
        </tr>
        <tr>
          <td>ProductType: </td>
          <td>{{enquiry.productType}}</td>          
        </tr>
        <tr>
          <td>Designation: </td>
          <td>{{enquiry.designation}}</td>          
        </tr>    
        <tr>
          <td>Enquiry Date: </td>
          <td>{{enquiry.enqDate}}</td>          
        </tr>      
      </table>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button> -->
        <button type="button" ng-click="cancel()" class="btn btn-primary">Close</button>
      </div>
    </div> 
  </div>
</div>
